#! /bin/sh

set -e

. /usr/share/debconf/confmodule

if [ -f /etc/default/ndn-mumble-server ] ; then
	MURMUR_DAEMON_START=0
	MURMUR_USE_CAPABILITIES=0
	. /etc/default/ndn-mumble-server

	if [ "$MURMUR_DAEMON_START" = "1" ] ; then
		db_set ndn-mumble-server/start_daemon true
	else
		db_set ndn-mumble-server/start_daemon false
	fi

	if [ "$MURMUR_USE_CAPABILITIES" = "1" ] ; then
		db_set ndn-mumble-server/use_capabilities true
	else
		db_set ndn-mumble-server/use_capabilities false
	fi
fi

db_input medium ndn-mumble-server/start_daemon || true
db_input medium ndn-mumble-server/use_capabilities || true
db_input medium ndn-mumble-server/password || true

db_go

#DEBHELPER#

exit 0
