[Desktop Entry]
Name=NDN-Mumble
GenericName=Voice Chat
Comment=A low-latency, high quality voice chat program running over NDN
Exec=ndn-mumble
Icon=mumble
Terminal=false
Type=Application
StartupNotify=false
Categories=Network;Chat;Qt;
Version=1.0
